<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper">
    <div class="main" id="main"></div>
</div>
<footer class="container-fluid foot-wrap" th:fragment="footer">
    <script type="text/javascript" th:src="@{/js/jquery.goup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.goup({
                trigger: 100,
                bottomOffset: 50,
                locationOffset: 50,
                title: '回到顶部',
                titleAsText: true
            });
        });
        $(function() {
            toastr.options = {
                "closeButton": false,//显示关闭按钮
                "debug": false,//启用debug
                "positionClass": "toast-top-center",//弹出的位置
                "showDuration": "300",//显示的时间
                "hideDuration": "700",//消失的时间
                "timeOut": "1000",//停留的时间
                "extendedTimeOut": "1000",//控制时间
                "showEasing": "swing",//显示时的动画缓冲方式
                "hideEasing": "linear",//消失时的动画缓冲方式
                "showMethod": "fadeIn",//显示时的动画方式
                "hideMethod": "fadeOut"//消失时的动画方式
            };
        });
    </script>
    <hr>
    <p>2018上海理工大学JavaWeb实验大作业</p>
    Github:<a href="https://github.com/DKwtno">DKwtno</a>
</footer>
</body>
</html>